<div>
    <color-header color=state.selectedColor />
</div>

<ul>
    <for|color| of=input.colors>
        <li style={color: color}>
            ${color}
        </li>
    </for>
</ul>

class {
    onInput(input) {
        const colors = input.colors;

        this.state = {
            selectedColor: colors[0],
            colors
        };
    }
}

