<html>
  <head>
    <title>
      Welcome | Marko Color Picker
    </title>
  </head>
  <body>
    <h1 style={ textAlign: 'center', fontSize: '45px' }>
      Welcome to the Color Picker!
    </h1>
    <!-- Custom tag 'color-picker' corresponds with 'color-picker' folder -->
    <color-picker colors=[
      { color: '#333745', counter: 0 },
      { color: '#E63462', counter: 0 },
      { color: '#FE5F55', counter: 0 },
      { color: '#C7EFCF', counter: 0 },
      { color: '#EEF5DB', counter: 0 },
      { color: '#00B4A6', counter: 0 },
      { color: '#007DB6', counter: 0 },
      { color: '#FFE972', counter: 0 },
      { color: '#9C7671', counter: 0 },
      { color: '#0C192B', counter: 0 },
    ] />
  </body>
</html>